<p> <div class="cart_title"> <%= t('.title')%> </div>  </p>

<table>
	<%=render(cart.line_items) %>

		
	<tr class="total_line"> 
		<td colspan="2"> <%= t('.total')%> </td>
		
		<td class="total_cell"> <%=number_to_currency(cart.total_price, :unit => " грн.", :format => "%n%u") %> </td>
	
		
	</tr>

</table>

<tr>
	

	<% unless current_page?(new_order_path) %>
    <%= button_to t('.checkout'), new_order_path, method: :get %>
    <%= button_to t('.empty'), cart, method: :delete,
        confirm: t('.sure'), remote: true %>
	<% else %>
    <%= button_to t('.cancel'), store_path %>
	<% end %>

</tr>